/*组件过渡动画样式*/
.component-fade-enter-active{
  transition: all .4s ease;
}
.component-fade-leave-active {
  transition: all .4s ease;
}
.component-fade-enter{
  transform: translateX(-50px);
  opacity: 0;
}
.component-fade-leave-to{
  transform: translateX(50px);
  opacity: 0;
}
